
html,body{
	width: 100%;
	height: 100%;
	 background-image: url("meadowbackgr.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    display: flex !important;
}